<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Manutenção</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.css}">
        <link rel="stylesheet" th:href="@{/css/backoffice/estiloBackofficeBarraSuperior.css}">
    </head>
    <body>
        <section id="barra-superior" class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Manutenção</h1>
                </div>
            </div>

            <div class="row justify-content-end">
              <div class="col-3">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opções</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/manutencao/novo}">Novo Produto</a>
                    <a class="dropdown-item" th:href="@{/trocarsenha}">Alterar Senha</a>
                    <a class="dropdown-item" th:href="@{/logout}">Sair</a>
                  </div>
                </div>
              </div>
            </div>
        </section>

        <div id="restante-pagina" layout:fragment="content"></div>
    </body>
</html>
