<!DOCTYPE html>
<html layout:decorate="~{backoffice/geral/barraSuperiorBackoffice}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" th:href="@{images/favicon.ico}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <title>Manutenção</title>
    </head>
    <body>
        <section layout:fragment="content" class="container-fluid">

            <div id="pizzas" class="row justify-content-center">
                <table class="table table-hover">
                  <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Ativação</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="p:${produtos}">
                      <td th:text="${p.codigoProduto}"></td>
                      <td th:text="${p.nomeProduto}"></td>
                      <td th:text="${p.descricaoProduto}"></td>
                      <td th:text="${#numbers.formatCurrency(p.valorProduto)}"></td>
                      <td th:text="${p.tipoProduto}"></td>
                      <td><a class="btn btn-warning btn-block" role="button" th:href="@{/manutencao/editar/{id} (id=${p.codigoProduto})}">Editar</a></td>
                      <td><form th:action="@{/manutencao/ativar}" method="post" th:if="${p.enabledProduto == false}">
                        <input type="hidden" name="id-ativar" th:value="${p.codigoProduto}">
                        <button class="btn btn-success btn-block" type="submit">Ativar</button>
                      </form>

                      <form th:action="@{/manutencao/desativar}" method="post" th:if="${p.enabledProduto == true}">
                        <input type="hidden" name="id-desativar" th:value="${p.codigoProduto}">
                        <button class="btn btn-danger btn-block" type="submit">Desativar</button>
                      </form></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </section>
    </body>
</html>
