<!DOCTYPE html>
<html layout:decorate="~{backoffice/geral/barraSuperiorBackoffice}">
    <head>
        <title>Gerenciar Produto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section class="container-fluid" id="janelanovo">
          <div class="row">
            <form class="col-xs-12 col-sm-12 col-lg-6" id="formnovo" th:action="@{/manutencao/salvar}" th:object="${produto}" method="post">

                <div id="titulo" class="camposform">
                    <h2>Novo</h2>
                </div>

                <div id="tipo" class="form-group camposform">
                    <label for="tipo">Tipo</label>
                    <select id="select-tipo" class="form-control" name="tipo">
                        <option value="PIZZA">Pizza</option>
                        <option value="DOCE">Pizza Doce</option>
                        <option value="BEBIDA">Bebida</option>
                        <option value="PROMOCAO">Promoção</option>
                    </select>
                </div>

                <div id="nome" class="form-group camposform">
                    <label for="nome">Nome</label>
                    <input class="form-control inputsnovo" type="text" name="nome"/>
                </div>

                <div id="descricao" class="form-group camposform">
                    <label for="descricao">Descrição</label>
                    <textarea class="form-control inputsnovo" rows="3" name="descricao"></textarea>
                </div>

                <div id="broto" class="form-group camposform">
                    <label id="broto-novo" for="broto">Broto</label>
                    <input class="form-control inputsnovo" type="text" name="precoBroto"/>
                </div>

                <div id="grande" class="form-group camposform">
                    <label for="grande">Grande</label>
                    <input id="input-grande" class="form-control inputsnovo" type="text" name="precoGrande"/>
                </div>

                <div id="familia" class="form-group camposform">
                    <label for="familia">Familia</label>
                    <input id="input-familia" class="form-control inputsnovo" type="text" name="precoFamilia"/>
                </div>

                <div id="botoesnovo">
                    <button id="cancelanovo" type="button" class="btn btn-danger" name="button">Cancelar</button>
                    <button id="salvanovo" type="submit" class="btn btn-success" name="button">Salvar</button>
                </div>
            </form>
          </div>

        </section>
    </body>
</html>
